*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    box-sizing: content-box !important; 
}
div.todo-item-list {
    margin-top:15px;
}
body{
    background-color: rgb(240,240,235) !important;
}
a{
    text-decoration: none;
    color: black;
}
.todo-content-box{
    *{
        background-color:white;
    }
    padding: 10px;
    border-radius: 10px;
    background-color:white;
    margin: 5px;
    height: 100px;
}
.icon{
    height: 20px;
    width: 20px;
    padding-right: 10px;
    box-sizing: content-box;
}
img{
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: none;
}

.inline-center{
    text-align:center;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.relative-position{
    position: relative;
}
.absolute-position{
    position: absolute;
}
.button-style{
    border: none;
    background-color: rgb(225,238,248);
    color:rgb(98, 151, 204);
    border-radius: 10px;
}
.button-styleok{
    border: none;
    background-color: rgb(224,244,237);
    color:rgb(106, 169, 129);
    border-radius: 10px;
}
.add-btnicon{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.edit-block{
    background-color: white;
    padding: 0px 10px 40px 20px;
    h1{
        font-size: 25px;
    }
    * {
        background-color: white;
    }
    .item{
        padding: 20px;
        height: 30px;
        border-bottom: rgba(137,124,136,0.1) solid 1px;
    }
    input{
        border: none;
    }
    img{
        width: 20px;
        height: 20px;
        padding-right: 20px;
        padding-bottom: -10px;
    }
}
.textarea{
    font-size: 25px;
    border: none;
    width: 100%;
}
.bar-area{
    *{
        background-color: white;
        border: none;
    }
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}